<!DOCTYPE html>
<html>
<head>
  <title>CRUD Node.js e MySQL</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Registros</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Cargo</th>
      <th>URL</th>
      <th>Ações</th>
    </tr>
    <% rows.forEach(row => { %>
      <tr>
        <td><%= row.ID %></td>
        <td><%= row.Nome %></td>
        <td><%= row.Cargo %></td>
        <td><%= row.URL %></td>
        <td>
          <a href="/edit/<%= row.ID %>">Editar</a>
          <a href="/delete/<%= row.ID %>">Excluir</a>
        </td>
      </tr>
    <% }); %>

  </table>
  <a href="/create">Adicionar novo registro</a>
  <a href="/delete_all">❌ Ser demitido ❌</a>
</body>
</html>
